:root {
	/* colors */
	--light	: 254, 253, 249;
	--gray-1	: 197, 195, 206;
	--gray-2	: 178, 178, 197;
	--gray-3 : 116, 112, 126;
	--dark	: 2, 0, 32;

	--yellow	: 227, 168, 76;
	--orange	: 220, 87, 77;

	/* size */
	--sm: 640px;
	--md: 768px;
	--lg: 1024px;
	--xl: 1220px;
	--fl: 100%
}

*, *::before, *::after {box-sizing: border-box;}

* {
	margin: 0;
}

html, body {height: 100%;}

body {
	background-color: rgb(var(--light));
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {font: inherit;}

button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6, span {overflow-wrap: break-word;}

#root, #__next {isolation: isolate;}