:root {

	/* Colors */
	--primary-light: #fefdf9;
	--primary-dark: #02001e;
	--light-gray-a: #535156;
	--light-gray-b: #b5b1ba;
	--orange: #ed6156;

	/* Size */
	--sm: 640px;
	--md: 768px;
	--lg: 1024px;
	--xl: 1280px;
	--fl: 100%

}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: var(--primary-light);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/* Global Styles */

.container {
	padding: 0 1rem;
	margin: auto;
}