:root {
	/* primary */
	--color-soft-orange: 35, 77%, 62%;
	--color-soft-red: 5, 85%, 63%;

	/* neutral */
	--color-off-white: 36, 100%, 99%;
	--color-grayish-blue: 233, 8%, 79%;
	--color-dark-grayish-blue: 236, 13%, 42%;
	--color-very-dark-blue: 240, 100%, 5%;

	/* typography */
	--font-body: 15px;

	/* breakpoints */
	--breakpoint-mobile: 375px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1150px;
	--breakpoint-large-desktop: 1440px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: hsl(var(--color-off-white));
	color: hsl(var(--color-very-dark-blue));
	font-size: var(--font-body);
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

button, a {
	display: block;
}

button {
	background: none;
	font: inherit;
	padding: 0;
	border: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, a, p {
	line-height: 1;
	overflow-wrap: break-word;
}


#__next {
	max-width: var(--breakpoint-desktop);
	place-content: center;
	min-height: 100%;
	margin: auto;
	gap: 2em;
	display: flex;
	flex-direction: column;
}

#root, #__next {
	isolation: isolate;
}