.container {
	padding: 2em 1em;
	max-width: var(--xl);
	margin: 0 auto;
}

.area_2 {
	background-color: rgb(var(--dark));
	color: rgb(var(--gray-3));
	padding: 2em;
}

.area_2>hr {
	border: 1px solid rgba(var(--gray-3), .4);
	margin: 2em 0;
}

.area_2>h1 {
	text-transform: capitalize;
	color: rgb(var(--yellow));
	font-size: clamp(2.3rem, 5vw, 3rem);
	font-weight: 600;
	line-height: 0;
	margin: .5em 0 1.3em 0;
}

.area_3>h1 {
	font-size: clamp(2.8rem, 5vw, 3.5rem);
	line-height: 1em;
	font-weight: 800;
}

.area_4>button {
	background-color: rgb(var(--orange));
	/* font-size: clamp(0.5rem, 3vw, 1rem); */
	text-transform: uppercase;
	letter-spacing: .25rem;
	padding: .6em 2em;
	margin: 2.2em 0 0 0;
	color: rgb(var(--light));
}

.area_2>article h2,
.area_5>article aside h3 {
	font-size: clamp(1.1rem, 5vw, 1.3rem);
	line-height: 1em;
	margin: .5em 0 .7em 0;
	cursor: pointer;
}

.area_5>article {
	display: flex;
	gap: 1.5em;
}

.area_2>article h2 {
	color: rgb(var(--light))
}

.area_2>article h2:hover {
	color: rgb(var(--yellow))
}

.area_5>article aside h3:hover {
	color: rgb(var(--orange))
}

@media only screen and (min-width: 1025px) {
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2em;
	}

	.area_1 {
		grid-column: 1 / span 2
	}

	.area_2 {
		grid-column: 3;
		grid-row: 1 / span 2
	}

	.area_5 {
		grid-column: 1 / span 3;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2em;
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: var(--md);
		gap: 2em;
	}

	.area_1 {
		grid-column: 1 / span 2;
	}

	.area_2 {
		grid-column: 2;
		grid-row: 2 / span 2;
	}

	.area_3 {
		grid-column: 1;
	}

	.area_3,
	.area_4 {
		grid-column: 1;
		align-self: center;
	}

	.area_5 {
		grid-column: 1 / span 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.area_1,
	.area_2,
	.area_3,
	.area_4,
	.area_5 {
		grid-column: 1;
	}

	.area_2 {
		grid-row: 4;
	}

	.area_5 {
		grid-template-columns: repeat(1, 1fr);

	}
}