.logo { width: 4em; height: auto;}

.container,
.menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	gap: 3em;
}

.container {
	padding: 1.2em 1em;
	max-width: var(--xl);
	margin: 0 auto;
}

.menu ul a {
	text-decoration: none;
	color: rgb(var(--gray-3));
}
.menu ul a:hover { color: rgb(var(--orange)); }

.menu_t {
	position: unset;
	right: 1em;
	z-index: 1;
}

.menu_t.menu_t_e { position: fixed; }
.menu_t.menu_t_c { position: absolute; }

@media only screen and ( max-width: 768px ) {
	.nav::before {
		content: '';
		background-color: rgba(var(--dark), .4);
		position: fixed;
		inset: 0 auto 0 0;
		width: 0;
	}

	.menu {
		position: fixed;
		background-color: rgb(var(--light));
		overflow-x: hidden;
		width: 0;
		inset: 0 0 0 auto;
	}

	.menu ul {
		flex-direction: column;
		align-items: flex-start;
		margin: 8em 0 0 2em;
		gap: 2em;
	}

	.menu ul a {
		color: rgb(var(--dark));
		font-size: 1.3rem;
		font-weight: 450;
	}

	.en.nav::before { width: 40%; }
	.em.menu { width: 60%; }
}